wsl/.config/configstore
wsl/.config/gh/hosts.yml
wsl/.config/TabNine
wsl/.config/yarn/global/node_modules
wsl/.config/wslu
wsl/.config/pulse/cookie
wsl/.config/sao-nodejs/config.json
wsl/.config/todoist/config.json
wsl/.config/gh/hosts.yml
wsl/.config/configstore/update-notifier-gitmoji-cli.json
