*/**/.config/configstore
*/**/.config/gh/hosts.yml
*/**/.config/TabNine
*/**/.config/yarn/global/node_modules
*/**/.config/wslu
*/**/.config/pulse/cookie
*/**/.config/sao-nodejs/config.json
*/**/.config/todoist/config.json
*/**/.config/gh/hosts.yml
*/**/.config/configstore/update-notifier-gitmoji-cli.json
