.config/chromium
.config/configstore
.config/Cypress
.config/dconf
.config/enchant
.config/gh/hosts.yml
.config/nextjs-nodejs/config.json
.config/op
.config/pulse
.config/TabNine
.config/yarn/global/node_modules
.config/yarn/global/yarn-error.log
.config/wslu
