# Path: $HOME/.gitconfig

[alias]
	bprune = !git branch --merged | egrep -v '\\*|develop|main|master' | xargs -r git branch -d
	bprunef = !git fetch --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
	fixup = commit --fixup HEAD
	inico = commit --allow-empty -m ':seedling: initial commit'
	lo = log --oneline
	pushf = push --force-with-lease --force-if-includes
	cp = cherry-pick
	vibecommit = !gemini -p \"Generate a conventional commit message about this change. Output a plaintext, not a codeblock\\n$(git diff HEAD)\" -m \"gemini-2.5-flash\" | git commit --author \"gemini-cli <gemini-cli@example.com>\" -F -

[branch]
	sort = -committerdate

[commit]
	gpgsign = true
	verbose = true

[column]
	ui = auto

[core]
	autoCRLF = false
  editor = nvim
  ; TODO: prevent snack.nvim's explorer flickering
  ; https://github.com/folke/snacks.nvim/issues/1308#issuecomment-2669152591
	; fsmonitor = true
	quotepath = false
	untrackedCache = true

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[fetch]
	prune = true

[gpg]
	format = ssh

[help]
	autocorrect = prompt

# Include system-wide .gitconfig
# XXX:
#		If multiple keys are specified, the last one takes precedence,
#   and even if the path does not exist, it will not cause an error.
#   (simply not including the path)
[include]
	path = ~/.gitconfig.mac
	path = ~/.gitconfig.win
	path = ~/.gitconfig.wsl2

[init]
	defaultBranch = main

[merge]
	conflictStyle = zdiff3

[pull]
	ff = only
	rebase = true

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[rerere]
	autoupdate = true
	enabled = false

[tag]
	sort = version:refname

[user]
	email = ras0q@users.noreply.github.com
	name = ras0q
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAX3CmJvy8KC9p0m5MtgxdetvZBlVzh5r3kg3T/LJeJW
